.wrapper {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 280px;
    min-height: 110px;
    height: auto;
    padding: 12px;
    color: #000;
    background: #ffffff;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    > h3 {
        color: rgba(0, 0, 0, 0.6);
        text-transform: capitalize;
        font-size: 15px;
    }

    > h2 {
        font-weight: 700;
        font-size: 20px;
        color: rgba(0, 0, 0, 1);
        margin-top: 10px;
    }

    > p {
        font-weight: 400;
        font-size: 15px;
        color: rgba(225, 98, 89, 1);
        margin-top: 10px;
    }
}

.selectedWrapper {
    display: flex;
    flex-direction: column;
    width: 280px;
    min-height: 110px;
    height: auto;
    padding: 12px;
    color: #fff;
    background: #a259ff;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    > h3 {
        text-transform: capitalize;
        font-size: 15px;
    }

    > h2 {
        font-weight: 700;
        font-size: 20px;
        margin-top: 10px;
    }

    > p {
        font-weight: 400;
        font-size: 15px;
        margin-top: 10px;
    }
}
