body {
    min-width: 350px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 60px auto 20px auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}